
 /* Header */
 header {
  /* position: absolute;
  top: 0; */
  position: fixed;
  top: 0;
  background: var(--background-color);
  width: 100%;
  z-index: 10;
}

/* Header background for mobile */
.header-bg {
    background-color: var(--color-nocturnal-blue);
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 1;
}

header .nav-wrapper {
  width: 100%;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand tools hamburger' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 var(--spacing-xxs);
  margin: auto;
  max-width: var(--page-max-width);
  height: var(--nav-height);
  transition:var(--hover-animation);
  font-family: var(--body-font-family);
  padding: 0 20px;
}

header nav[aria-expanded="true"] {
  grid-template:
    'brand nav tools hamburger' var(--nav-height)
    'sections sections sections sections' 1fr  / auto 1fr;
    height: 100vh;
    overflow-y: auto;
    background:  var(--background-color);
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav li,
header nav a:any-link {
  transition: .3s;
  color: var(--color-white);
}

header .nav-brand,
header .nav-tools,
header .nav-hamburger {
  position: relative;
  z-index: 1
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  background: transparent;
  cursor: pointer;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 26px;
  background-color: var(--color-white);
  transition: var(--hover-animation);
}

header nav .nav-hamburger-icon {
  transition: 0.1s width ease;
  height: 22px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 3px;
  border-radius: 2px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon {
  transition: 0.3s width ease-in;
  width: 20px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  transform: translateY(9px);
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  transform: translateY(-9px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  transform: translateY(0);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: translateY(0);
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  background: transparent;
  transition: 0.1s width ease-in;
  width: 0;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 2px;
  left: 0;
  transform: rotate(45deg);
  background: var(--color-white);
  transform-origin: 3px 1px;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  transition: var(--hover-animation);
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 0;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  background-image: url('/images/cw-reply-logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 117px 37px;
  width: 117px;
  height: 37px;
  grid-area: brand;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

header .nav-brand p {
  color: var(--color-white);
}

header .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header .nav-sections {
  grid-area: sections;
  width: 100%;
  padding: var(--spacing-s) 0;
  height: 100%;
  opacity: 100%;
  transition: var(--hover-animation);
  transform: translateY(-200%)
}

header .nav-sections {
  display: block;
  visibility: visible;
  white-space: nowrap;
}

header nav[aria-expanded='true'] .nav-sections {
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
  transform: translateY(0);
  z-index: 0;
}

header .nav-sections ul {
  list-style: none;
  padding: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  display: flex;
  gap: var(--spacing-xs);
  margin: 0;
}

/* Header Desktop styles */

@media (width >= 900px) {

  header .header {
    max-width: 1440px;
    margin-inline: auto;
  }

  .header-bg {
    display: none;
  }

  header .nav-wrapper {
    max-width: var(--page-max-width);
    padding: 0 20px;
  }

  header nav[aria-expanded="true"] {
    grid-template:
    'brand nav tools' var(--nav-height)
    'sections sections sections' 1fr  / auto 1fr;
    min-height: 0;
    gap: 0 var(--spacing-l);
    overflow: visible;
    padding: var(--spacing-xxxs) var(--spacing-m);
    height: auto;
    position: relative;
    background-color: var(--color-nocturnal-blue);    
  }

  header nav li,
  header nav a:any-link {
    &:hover,
    &:focus {
      color: #b88f58;
      text-decoration: none;
    }
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav[aria-expanded='true'] .nav-sections {
    all: unset;
  }

  header .nav-sections ul {
    flex-direction: row;    
    justify-content: end;
    gap: var(--spacing-m);
  }

  header .nav-sections ul > li {
    position: unset;
    font-size: 16px;
    white-space: nowrap;
    width: auto;
  }
}