/* stylelint-disable max-line-length */
@font-face {
  font-family: "Playfair Display";
  font-weight: 500;
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format("truetype");
}

@font-face {
  font-family: "The Seasons";
  font-weight: 400;
  src: url('../fonts/Fontspring-DEMO-theseasons-reg.otf') format("OpenType");
}

@font-face {
  font-family: "Slight";
  font-weight: 400;
  src: url('../fonts/slight-regular.ttf') format("truetype");
}
